.trash {
    padding-left: 20px;
    color: #75b7ec;
    transition: 0.3s;
}

.header-list {
    background-color: #75b7ec;
    display: flex;
    height: 100px;
    max-height: 100px;
    border-top-right-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.header-list:hover .trash {
    color: white;
}

.task:hover .task-trash {
    color: #d5002f;
}

.task:hover {
    background-color: #d9dad4 !important;
    transition: 0.3s;
}

.task-trash {
    color: white;
}